fastapi[standard]
uvicorn[standard]
gunicorn
pydantic
pydantic-settings
python-multipart
httpx
langchain
langchain-core
langchain-google-genai
langchain-community
google-generativeai
redis
python-dotenv
loguru
tenacity
python-dateutil
pinecone